@use "__device" as *;

//************************************************************
// setting
//************************************************************

$spacing-rl-sp: 50;

:root {
  /* fonts */
  --font-base:
    "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo",
    "Yu Gothic", "Noto Sans JP", sans-serif;
  --font-sub-title: "Ethnocentric";
  --font-sub-text-01: "Chakra Petch", sans-serif;
  --font-sub-text-02: "Noto Sans JP", sans-serif;

  /* colors */
  --primary-color: #19396d;
  --secondary-color: #ffffff;
}

body {
  font-family: var(--font-base);
  overflow-x: hidden;
  color: var(--secondary-color);

  background-image:
    linear-gradient(
      0deg,
      transparent calc(100% - 0.0714vw),
      #e2eaf0 calc(100% - 0.0714vw)
    ),
    linear-gradient(
      90deg,
      transparent calc(100% - 0.0714vw),
      #e2eaf0 calc(100% - 0.0714vw)
    );
  background-size: vw-pc(23) vw-pc(23);
  background-color: #f3f6f9;
  background-repeat: repeat;
  background-position: center center;

  @include sp {
    background-image:
      linear-gradient(
        0deg,
        transparent calc(100% - 0.133vw),
        #e2eaf0 calc(100% - 0.133vw)
      ),
      linear-gradient(
        90deg,
        transparent calc(100% - 0.133vw),
        #e2eaf0 calc(100% - 0.133vw)
      );
    background-size: vw-sp(23) vw-sp(23);
  }
  img {
    width: 100%;
  }
  .pc {
    visibility: visible;
  }
  .sp {
    visibility: hidden;
  }
  .pc-display {
    visibility: block;
  }
  .sp-display {
    display: none;
  }
  br {
    &.pc {
      display: block;
    }
    &.sp {
      display: none;
    }
  }

  //motion ▼
  // .scroll-event{
  //   transform: translateY(vw-pc(26));
  //   opacity: 0;
  //   transition: all 1s;
  // }
  // .scroll-event.is-active{
  //   transform: translateX(0);
  //   opacity: 1;
  // }
  //motion ▲

  @include pc {
    a {
      transition: opacity 0.3s;
    }
    a:hover {
      opacity: 0.5;
    }
  }
  @include tablet {
    a {
      transition: opacity 0.3s;
    }
    a:hover {
      opacity: 0.5;
    }
  }
  @include sp {
    .pc {
      visibility: hidden;
    }
    .sp {
      visibility: visible;
    }
    .pc-display {
      display: none;
    }
    .sp-display {
      visibility: block;
    }
    br {
      &.pc {
        display: none;
      }
      &.sp {
        display: block;
      }
    }
    //motion ▼
    // .scroll-event{
    //   transform: translateY(vw-sp(26));
    //   opacity: 0;
    //   transition: all 1s;
    // }
    // .scroll-event.is-active{
    //   transform: translateX(0);
    //   opacity: 1;
    // }
    //motion ▲
  }
}

//************************************************************
// main style
//************************************************************
